@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$main_color: #333333;

body {
    font-family: "Montserrat", sans-serif;
    color: $main_color;
}

.desc_modal_clc{
    cursor: pointer;
    text-decoration: underline;
}

.desc_modal_clc:hover{
    font-weight: 500;
}

.modal_feedback {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.modal_feedback_container{
    background-color: #fff;
    padding: 20px;
    position: relative; 
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
}
.close{
    cursor: pointer;
    font-size: 30px;
    margin-left: auto;
    margin-right: 0px;
}
.modal_title{
    font-size: 20px;
    margin-top: -15px;
}
.modal_content{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
input{
    margin-top: 5px;
    height: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: $main_color;
}
#check{
    height: 20px;
}

.checkbox_cont{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

input[type="checkbox"] {
  display: none;
}

label .checkbox-icon {
  width: 23px;
  height: 23px;
  display: inline-block;
  border: 1px solid #767676;
  text-align: center;
  line-height: 20px;
  margin-right: 6px;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

label .checkbox-icon svg {
  font-size: 16px;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input:checked + label .checkbox-icon svg {
  opacity: 1;
}

.send_btn{
    height: 36px;
    background-color: $main_color;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #fff;
    margin-top: 25px;
    transition: filter 0.3s ease;
}
.send_btn:hover{
  filter: invert(1);
}

.notification{
    margin-top: 25px;
}
